<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <h2 class="title">
        The form contains <%= pluralize(@user.errors.count, 'error') %>.
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
